src/__pycache__/*
src/.ipynb_checkpoints/*
.vscode/*
src/data/*.h5
src/lib/__pycache__/*
src/log/*
src/app_example.py
ssl/*
freedom_aws_key.pem
src/lib/user_pass.py
docker-compose-pgadmin.yml
docker-compose-dev.yml
db/*
src/data/*TICK
src/data/*Trade
.env
