src/__pycache__/*
src/.ipynb_checkpoints/*
.vscode/*
src/data/*.h5
src/lib/__pycache__/*
src/log/*
src/app_example.py
ssl/*
freedom_aws_key.pem
www/.well-known/pki-validation/
www/.well-known/pki-validation/*
www
www/*
src/lib/user_pass.py
docker-compose-test.yml
db/*
