cython
numpy
flask
redis
gunicorn==19.9.0
pandas
plotly
seaborn
jupyter
dash==1.8.0
mysql-connector
psycopg2
selenium
websockets
asyncio
rejson
redistimeseries
redisearch
redisgraph
flask-socketio
eventlet